[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenssl = "23.1.1"
secrets = "1.0.2"
bcrypt = "4.0.1"
flask = "2.2.3"

[dev-packages]

[requires]
python_version = "3.10"
